nav.navbar {
    background-color: #e3f2fd;
}

footer.main-footer {
    /* Deixar o footer sempre em baixo */
    background-color: #e3f2fd; 
    
    margin-top: 23em;
    position: relative;
    width:100%; 
    bottom:0;
}