<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!DOCTYPE html>
    <html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <!--Fazendo isso o express já estende que meu arquivo bootstrap.css esta na pasta public-->
        <!--<link rel="stylesheet" href="/css/bootstrap.css">-->
        <link href="../css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" type="image/x-icon" href="img/tcc.png" />
        <title>ESTAGIO</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; color: black;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/login">sDECOM</a>
                </div>
                <div class="col m12 s12">
                    <a class="waves-effect waves-light btn" onclick="history.go(-1);" style="background: #34a5a1; color: white; float: right;">
                        <i class="fa fa-arrow-left"></i> Voltar
                    </a>
                </div>
            </div>
        </nav>
        <div class="container">
            <br>
            <div class="jumbotron jumbotron-fluid">
                <div class="container-fluid">
                    <h4 class="display-5 text-center">E-mail ou senha incorretos!</h4>
                    <br>
                    <div class="text-center" style="margin: 0 auto;">
                        <a href="/"> <button type="submit" class="btn btn-success">Tentar novamente</button></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <footer class="page-footer font-small" style="background-color: #e3f2fd; position: fixed; bottom:0; left:0; width: 100%; height: 80px;">
            <div class="footer-copyright text-center py-3">© Sistema de Estágio 2019
                <p>Desenvolvido pelos alunos da disciplina de Engenharia de Software II</p>
            </div>
        </footer>
    </body>

    </html>